.all-li {
  text-decoration: underline;
}

.center-nav {
  display: flex;
	justify-content: center;
}

.center-nav ul {
  display: flex;
  padding: 10px 0;
}

.center-nav li {
  margin: 0 10px;
  cursor: pointer;
}

.center-nav ul li:hover{
  background-color: lightgray;
}

sections-nav a {
	text-transform: uppercase;
	font-size: 10px;
}

@media all and (max-width: 1000px) {
  .sections-nav {
  	display: none;
  }
}
